pyopenssl
markupsafe==2.0.1
jinja2==2.11.3
SQLAlchemy==1.4
flask==1.1.4
flask_sqlalchemy
flask_cors
flask_jwt_extended==3.25.1
python-alipay-sdk
requests
bcrypt
gunicorn==20.1.0
gevent==21.12.0
pymysql
flask_limiter==1.4
psycopg2-binary
# python-telegram-bot
# qrcode
weixin-python
wechat-pay-sdk
Flask-APScheduler
stripe
